@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background: url(/images/bg-pattern-desktop.svg);
    color: hsl(0, 36%, 70%);
}

main {
    display: flex;

}

.left-section {
    width: 57%;
    padding-left: 7em;
    padding-top: 3.5em;
    padding-right: 7em;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.primary-logo {
    width: 9em;
    flex-basis: auto;
}

.secondary-logo{
    display: none;
}

.hero {
    max-width: 50em;
    min-height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    word-spacing: 14em;
    letter-spacing: 15px;
    font-size: 3em;
}

h1 span {
    color: #000;
}

p {
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    line-height: 27px;
}

form {
    display: flex;
    position: relative;
    width: 100%;
}

input {
    border: 1px solid hsl(0, 12%, 75%);
    border-radius: 18px;
    padding: 13px 25px;
    min-width: calc(100% - 3em);
}

input::placeholder {
    color: hsl(0, 12%, 75%);
}

input:focus {
    cursor: pointer;
    border-color: hsl(0, 93%, 68%);
    outline: none;
}


button {
    background-color: hsl(0, 36%, 70%);
    border: none;
    width: 6em;
    padding: 10px 30px;
    border-radius: 20px;
    position: absolute;
    right: 0;

}

button:hover {
    background-color: hsl(0, 93%, 68%);
}



.right-section {
    width: 43%;
    height: 100vh;
    background-image: url(/images/hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}




/************************ TABLET DESIGN *******************/


@media screen and (max-width :767px) {
    main{
        flex-direction: column;
    }

    .left-section, .right-section{
        width: 100%;
    }

    .left-section{
        order: 2;
        height: auto;
        padding: 4em 0 4.5em;
    }

    .primary-logo{
        display: none;
    }

    .secondary-logo{
        display: block;
        width: 9em;
        padding: 2em 0 2em 2em;
    }

    .hero{
        width: 80%;
        margin: 0 auto 0;
        text-align: center;
    }

    form{
        display: block;
    }

    button{
        top: 0;
    }

    .right-section{
        height: 20em;
        order: 1;
        background-size: fill;
        background-position: top;
        
    }
}

@media screen and (max-width: 455px) {
    .right-section{
        background-image: url(/images/hero-mobile.jpg);
        background-size: contain;
    }

    @media screen and (max-width: 425px) {
        .hero{
          width: 100%;
          margin: 0;
        }
    }
}


/* @media screen and (max-width: 280px) {

    .left-section{
        position: relative;
    }

    .hero{
        position: absolute;
        top: 0em;
    }
} */
