@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background:  url(/images/bg-pattern-desktop.svg);
    color: hsl(0, 36%, 70%);    
}

main{
    display: flex;
}

.left-section{
    width: 57%;
    padding-left: 7em;
    padding-top: 3.5em;
    padding-right: 7em;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo{
    width: 9em;
    flex-basis: auto;
}

.hero{
    max-width: 50em;
    min-height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 14em;
    letter-spacing: 15px;
    font-size: 3em;
}

h1 span{
    color: #000;
}

p{
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    line-height: 27px;
}

form{
    display: flex;
}

input{
    border: 1px solid hsl(0, 12%, 75%);
    width: 23em;
    border-radius: 18px;
    padding: 13px 25px;
}

input::placeholder{
    color: hsl(0, 12%, 75%);
}

input:focus{
    cursor: pointer;
    border-color: hsl(0, 93%, 68%);
    outline: none;
}


button{
    background-color: hsl(0, 36%, 70%);
    border: none;
    width: 6em;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    right: 45px;
    top: -0.1px;
}

button:hover{
    background-color: hsl(0, 93%, 68%);
}



.right-section{
    width: 43%;
    height: 100vh;
    background-image: url(/images/hero-desktop.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}
